body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

//Container
.crlab-container {
  //Mobile
  padding: 2rem 2.5rem;
}

//Image fluid
.crlab-responsive-image {
  max-width: 100%;
}

//Background
.crlab-bg-dark {
  background-color: var(--black-14);
  color: var(--white)
}

//Fab Whatsapp
.crlab-whatsapp-fab {
  position: absolute;
  right: 20px;
  bottom: -35px;

  background-color: var(--black-0);
  border: 0;
  border-radius: 50%;
  padding: 0;

  width: 100px;
  height: 100px;

  img {
    width: 40px;
    height: 40px;
  }
}

//Estilo botão
.crlab-button {
  background: var(--black-0);

  display: block;

  border: 1px solid var(--white);
  color: var(--white);

  max-width: 100%;
  padding: 2rem 1.25rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &.outlined {
    background-color: transparent;
  }

  &.thinner {
    padding: 1rem 1.25rem;
  }

  &.w-100 {
    width: 100%;
  }
}

//Heading
.crlab-heading {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem;
  line-height: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.875rem;

&.center {
  text-align: center;
}

  &.light {
    color: var(--white)
  }

  &.lg {
    font-size: 3.125rem;
    line-height: 45px;
  }
}

p {
  font-size: 1rem;
  line-height: 30px;
  margin: 0;

  &.center {
    text-align: center;
  }
}

/************************Banner****************************/
.crlab-banner-container {
  width: calc(100vw - 2.50rem);
  height: 805px; //Mobile

  position: relative;
  padding: 1.25rem 1.25rem 0;

  background-color: #101010;
  color: var(--white);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .crlab-logo {
    max-width: 131px;
  }

  .crlab-menu {
    width: 42px;
    height: 38px;
    background-color: #fff;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);

    @media (max-width: 768px) {
      display: none;
    }
  }
}

// .crlab-fullbanner-background {
//   // position: absolute;
//   // z-index: -1;
//   // top: 0;
//   // left: 0;
//   // width: 100%;
//   // height: 100%;


//   // background-image: linear-gradient(90deg, #101010 -15.78%, rgba(16, 16, 16, 0) 100.68%), url("../../images/fullBanner.webp");
//   // background-size: cover;
//   // background-repeat: no-repeat;
// }

.crlab-cta {
  max-width: 82%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;


  p {
    margin: 0.875rem 0 2.5rem;
    font-weight: 700;
  }
}

/************************Banner****************************/

section#introduction {
  .crlab-intro-content {

     p:first-child{
      margin-bottom: 1.875rem;
    }

    a {
      margin-top: 2.875rem;
    }
  }

  .crlab-intro-image-wrapper {
    display: flex;
  }
}

//Section 2 - Conteúdo
section#content {
  margin-top: -1px;
  padding-top: 3.75rem; 
  padding-bottom: 3.75rem;

  .crlab-content-wrapper {
    margin: 1.625rem 0 3.75rem;
  }
}

//Section 3 - Contato
section#contact {
  .crlab-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2.5rem;

    margin: 2rem 0rem 0.75rem;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .crlab-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.875rem;

      width: 100%;
      padding: 3.125rem 0;

      border: 1px solid var(--black-0);

      img {
        width: 75px;
        height: 75px;
      }

      span {
        font-family: 'DM Serif Display', serif;
        font-size: 2.1875rem;
        text-align: center;
        line-height: 40px;
      }
    }
  }

  form {
    margin: 2rem 0rem 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    input, textarea {
      border: 1px solid var(--black-0);
      padding: 0.875rem 0.625rem;
      color: var(--black-0);

      &::placeholder {
        color: var(--black-0)
      }
    }
  }
}

//Fotter
footer {
  background-color: var(--black-0);
  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  margin: 10px auto 0;

  // Mobile
  padding: 3.75rem;

  @media (max-width: 768px) {
    padding: 2.5rem 0;
  }

  address {
    max-width: 312px;
    font-size: 1.125rem;
    line-height: 35px;
    font-style: italic;
    text-align: center;
  }

  img {
    max-width: 109px;
  }

  .crlab-social {
    display: flex;
    gap: 1.25rem;
    align-items: center;

    .crlab-social-item {
      width: 33px;
      height: 33px;
      text-decoration: none;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}