body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

//Container
.crlab-container {
  &.lg {
    @media (min-width: 1120px) {
      max-width: 1068px;
      margin: 6.25rem auto;
    }
  }

  @media (max-width: 1120px) {
    padding: 2rem 2.5rem;
  }

  @media (max-width: 360px) {
    padding: 2rem 1rem;
  }
}

//Image fluid
.crlab-responsive-image {
  max-width: 100%;
}

//Background
.crlab-bg-dark {
  background-color: var(--black-14);
  color: var(--white)
}

//Fab Whatsapp
.crlab-whatsapp-fab {
  position: absolute;
  right: 70px;
  bottom: 70px;

  background-color: var(--black-0);
  border: 0;
  border-radius: 50%;
  padding: 0;

  width: 100px;
  height: 100px;

  line-height: 0;

  img {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 1120px) {
    right: 20px;
    bottom: -35px;
  }
}

//Botão
.crlab-button {
  background: var(--black-0);

  display: block;

  border: 1px solid var(--white);
  color: var(--white);

  width: 100%;
  max-width: 297px;
  margin: 0 auto;

  padding: 2rem 1.25rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: 1120px) {
    max-width: 100%;
    margin: unset;
  }

  @media (max-width: 360px) {
    font-size: 1rem;
  }

  &.outlined {
    background-color: transparent;
  }

  &.thinner {
    padding: 2rem 1.25rem;
    max-width: 542px;

    @media (max-width: 1120px) {
      max-width: 100%;
      padding: 1rem 1.25rem;
    }
  }

  &.w-100 {
    width: 100%;
  }

  &.left {
    margin: 0 0;
  }

  &.small {
    padding: 1.5rem 2rem;
    width: auto;

    font-size: 0.9375rem;
    line-height: 18px;
  }
}

//Heading
.crlab-heading {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem;
  line-height: 40px;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 0.875rem;

  &.center {
    text-align: center;
  }

  &.light {
    color: var(--white)
  }

  &.lg {
    font-size: 5rem;
    line-height: 100%;

    max-width: 644px;
    width: 100%;

    @media (max-width: 1120px) {
      font-size: 3.125rem;
    }

    @media (max-width: 360px) {
      font-size: 2.5rem;
    }
  }

  &.wrap {
    max-width: 415px;
    margin-bottom: 1.5rem;

    @media (max-width: 1120px) {
      max-width: unset;
      margin-bottom: 0.875rem;
    }
  }

  @media (max-width: 360px) {
    font-size: 2rem;
  }
}

p {
  font-size: 1.125rem;
  line-height: 30px;
  margin: 0;

  &.center {
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

/************************Banner****************************/
.crlab-banner-container {
  height: 860px;

  position: relative;

  color: var(--white);

  @media (max-width: 1120px) {
    padding: 1.25rem 1.25rem 0;
    height: 805px;
  }

  .crlab-fullbanner-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(90deg, #101010 -15.78%, rgba(16, 16, 16, 0) 100.68%), url("../../images/fullBanner.webp");
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
      background: linear-gradient(359.47deg, #101010 -5.12%, rgba(16, 16, 16, 0) 104.84%), url("../../images/fullBannerMobile.webp");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (max-width: 1120px) {
      background-position: center;
      background-image: linear-gradient(90deg, #101010 -15.78%, rgba(16, 16, 16, 0.3) 100.68%), url("../../images/fullBanner.webp");
    }
  }

  .crlab-cta-wrapper {
    max-width: 89.5%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0.875rem 0 2.5rem;
      font-weight: 700;
      font-size: 1.25rem;

      max-width: 476px;

      @media (min-width: 1024px) and (max-width: 1366px) {
        width: 37%;
      }

      @media (max-width: 360px) {
        font-size: 1rem;
      }
    }

    @media (max-width: 1120px) {
      justify-content: end;
      margin-top: -5.625rem;
      max-width: 82%;
    }

    @media (min-width: 1120px) {
      margin-left: auto;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 7.5rem);

  position: absolute;
  z-index: 1;

  padding: 2rem 3.75rem 0;

  .crlab-logo {
    max-width: 131px;
  }

  .crlab-mobile-menu-trigger {
    width: 42px;
    height: 38px;
    position: relative;

    span {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--white);
      position: absolute;

      &.top {
        top: 0;
      }

      &.middle {
        top: 16.5px
      }

      &.bottom {
        bottom: 0;
      }
    }

    .crlab-mobile-menu {

      top: 0;
      right: 0;

      height: 100vh;
      width: 100vw;

      background-color: var(--black-0);
    }

    &.open {
      .crlab-mobile-menu {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    @media (min-width: 1120px) {
      display: none;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: var(--white);
      text-transform: uppercase;

      display: flex;
      align-items: center;
      gap: 0.75rem;

      font-size: 0.9375rem;
      line-height: 18px;
      font-weight: 700;

      &.crlab-button {
        margin-left: 4.6875rem;
        margin-right: 3.75rem;

        @media (max-width: 1366px) {
          margin-left: 3.75rem;
          margin-right: 2.5rem;
        }
      }

      &:hover {
        opacity: .7;
        transition: all 0.2s;
      }
    }

    @media (max-width: 1120px) {
      display: none;
    }
  }

  @media (max-width: 1120px) {
    width: calc(100% - 2.5rem);
    padding: 1.25rem 1.25rem 0;
  }
}
/************************Banner****************************/

/************************Section 1 - Introdução****************************/
section#introduction {
  display: flex;

  @media (max-width: 1120px) {
    flex-direction: column;
  }

  .crlab-intro-content {
    max-width: 650px;
    margin: auto auto;

    @media (max-width: 1120px) {
      max-width: unset;
    }

    p:first-child {
      margin-bottom: 1.875rem;
    }

    a {
      margin-top: 2.875rem;
    }
  }

  .crlab-intro-image-wrapper {
    display: flex;
    max-width: 750px;

    @media (max-width: 1120px) {
      max-width: 100%;

      img {
        flex: 1;
      }
    }

    @media (min-width: 1120px) {
      order: -1;
    }

    @media (min-width: 1120px) and (max-width: 1366px) {
      width: 39%;
    }
  }
}
/************************Section 1 - Introdução****************************/

/************************Section 2 - Conteúdo****************************/
section#content {
  margin-top: -1px;
  padding-top: 6.875rem;
  padding-bottom: 6.25rem;

  @media (max-width: 1120px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .crlab-hero {
    width: 70%;
    max-width: 1339px;

    display: flex;
    align-items: center;
    gap: 11.5%;

    margin: 6.875rem auto;

    &:first-child {
      margin: 0 auto;
    }

    .crlab-hero-image-wrapper {
      max-width: 560px;
      width: 100%;

      @media (max-width: 1366px) {
        width: 42%;
      }

      @media (max-width: 1120px) {
        max-width: unset;
        width: auto;
      }
    }

    &.crlbab-hero-image-right {
      .crlab-hero-image-wrapper {
        order: 2;
      }
    }

    @media (max-width: 1120px) {
      max-width: unset;
      width: 100%;

      display: block;
      margin: unset;

      &.crlbab-hero-image-right {
        .crlab-hero-image-wrapper {
          order: unset;
        }
      }
    }
  }

  .crlab-content-wrapper {
    flex: 1;

    @media (max-width: 1120px) {
      margin: 1.625rem 0 3.75rem;
    }
  }
}
/************************Section 2 - Conteúdo****************************/

/************************Section 3 - Contato****************************/
section#contact {

  @media (max-width: 1120px) {
    &.crlab-container {
      padding: 2rem 2.5rem 0;

      @media (max-width: 360px) {
        padding: 2rem 1rem 0;
      }
    }
  }

  .crlab-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2.5rem;

    margin: 4.0625rem 0 6.25rem;


    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
      margin: 2rem 0rem 0.75rem;
    }

    .crlab-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.875rem;

      width: 100%;
      padding: 3.125rem 0;

      border: 1px solid var(--black-0);

      img {
        width: 75px;
        height: 75px;
      }

      span {
        font-family: 'DM Serif Display', serif;
        font-size: 2.1875rem;
        text-align: center;
        line-height: 40px;
      }
    }
  }

  .crlab-heading-wrapper {
    max-width: 542px;
    margin: 0 auto;

    @media (max-width: 1120px) {
      max-width: unset;
      margin: unset;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    margin: 3.43rem auto;

    max-width: 650px;


    @media (max-width: 1120px) {
      gap: 1rem;

      margin: 2rem auto 2.5rem;
    }

    input,
    textarea {
      border: 1px solid var(--black-0);
      padding: 0.875rem 0.625rem;
      color: var(--black-0);

      &::placeholder {
        color: var(--black-0)
      }
    }
  }
}
/************************Section 3 - Contato****************************/

footer {
  background-color: var(--black-0);
  color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3.75rem;

  @media (max-width: 1120px) {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    margin: 10px auto 0;
    padding: 2.5rem 0;
  }

  img {
    max-width: 109px;
  }

  address {
    font-size: 1.125rem;
    line-height: 35px;
    font-style: italic;
    text-align: center;

    @media (max-width: 1120px) {
      max-width: 312px;
    }
  }

  .crlab-social {
    display: flex;
    gap: 1.25rem;
    align-items: center;

    .crlab-social-item {
      width: 33px;
      height: 33px;
      text-decoration: none;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}